/*Estilos Servicios*/

main{
    .title-servicios{
        margin-bottom: -10px;
        h1{
            font-size: 1.5em;
            span{
                font-size: 1.3em;
                font-weight: 700;
                color: $green;
            }
        }
    }
    .servicios{
        margin: 30px 0px;
        .content-servicios{
            display: flex;
            flex-direction: row;
            h2{
                font-size: 1.5em;
                span{
                    font-size: 1.3em;
                    font-weight: 700;
                    color: $green;
                }
            }
            .content-img-servicios{
                padding: 0px;
                overflow: hidden;
                .img-servicios{
                    object-fit: cover;
                }
            }
        }
        .mid{
            @media (min-width: 1440px){
                flex-direction: row-reverse;
                text-align: right;
            }
        }
    }
    .title-profesionales{
        h2{
            font-size: 1.5em;
            span{
                font-size: 1.3em;
                font-weight: 700;
                color: $green;
            }
        }
    }
    .profesionales{
        background-image: url(../img/fondoprofesionales.jpg);
        background-position: center bottom;
        @media (min-width: 768px){
            background-position: center center;
        }
        .profesionales-card-box{
            padding: 0px auto;
            gap: 50px;
            .profesionales-box-img{
                position: relative;
                cursor: pointer;
                img{
                    border: 1px solid $white;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
                .img-description{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background: linear-gradient(
                        0deg, $green, $white-opacity );
                    transition: all 0.5s ease;
                    opacity: 0;
                    visibility: hidden;
                    ul{
                        margin-top: 110%;
                        li{
                            font-size: 1.1em;
                            padding: 0px 20px;
                            text-align: center;
                        }
                    }
                }
                &:hover > .img-description{
                    opacity: 1;
                    visibility: visible;
                }
            }
            .card-description{
                h3{
                    font-size: 1.4em;
                    margin-bottom: 0;
                }
            }
        }
    } 
    .contador{
        background: $green-opacity;
        padding: 20px 0px;
        font-size: 1.5em;
        @media (max-width: 1440px){
            display: none !important;
        }
        span{
            color: $green;
        }
        p{
            margin-bottom: 0px;
        }
    }   
    .title-opiniones{
        h2{
            font-size: 1.5em;
            span{
                font-size: 1.3em;
                font-weight: 700;
                color: $green;
            }
        }
    }
    .opiniones{
        .opiniones-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background: linear-gradient(
                0deg, $green-opacity, $white );
            padding: 30px 0px;
            border-radius: 10px;
            .opiniones-box-img{
                margin: 10px;
                img{
                    border-radius: 200px; 
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
            }
            .opiniones-text{
                padding: 0px 60px;
                h4{
                    font-size: 1.1em;
                }
            }
        }
    }
}
