//Variables 
$black: #000000;
$black-opacity:#00000080;
$white: #ffffff;
$white-opacity:#ffffff33;
$green: #00897B;
$green-opacity: #00897bcc;
$redes: (
    instagram:#8f21a8,
    whatsapp: #25d366,
    twitter: #00acee);