/*Estilos Contacto*/
main{
    .title-formulario{
        h1{
            @include span-letter-green;
        }
    }
    .formulario{
        background: linear-gradient(
            0deg,rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
            url(../img/radiante-eventos-aire-libre.jpg);
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center top;
        .form-content{
            @include desktop-starts{
                padding: 0px 40vh;
            }
            .form-control{
                border: none;
                border-radius: 0px;
                border-bottom: 2px solid $green;
                color: $white;
                background-color: $white-opacity;
                &:focus{
                    background-color: $black-opacity;
                }
            }
            .form-select{
                border: none;
                border-radius: 0px;
                border-bottom: 2px solid $green;
                color: $white;
                background-color: $white-opacity;
                &:focus{
                    background-color: $black-opacity;
                }
            }
            .btn{
                background-color: $green;
                color: $white;
                border-radius: 0px;
            }
        }
    }
}