/*Estilos Footer*/

footer{
    background-color: $green;
    width: 100%;
    .footer{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            @media (min-width: 768px){
                flex-direction: row;
            }
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 7px 20px;
                .tw{
                    margin-left: -30px;
                    @media (min-width: 768px){
                        margin: auto;
                    }
                }
            }
            a{
                display: flex;
                align-items: center;
                transition: all 0.5s ease-out;
                color: $white;
                &:hover{
                    color: $grey;
                    letter-spacing: 1.5px;
                }
                i{
                    padding-right: 5px;
                }
            }
        }
    }
}