/*Estilos Footer*/

footer{
    background-color: $green;
    width: 100%;
    .footer{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            @include tablet-starts{
                flex-direction: row;
            }
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 7px 20px;
                @each $red, $color in $redes{
                    .btn--#{$red}:hover{
                        color: $color;
                    }     
                }
                a{
                    display: flex;
                    align-items: center;
                    transition: all 0.5s ease-out;
                    color: $white;
                    &:hover{
                        letter-spacing: 1.5px;
                    }
                    i{
                        padding-right: 5px;
                    }
                }    
                .btn--twitter{
                    margin-left: -30px;
                    @include tablet-starts{
                        margin: auto;
                    }
                }
            }
        }
    }
}