/*Estilos Header*/

header{
    background-color: $white;
    width: 100%;
    .navbar{
        padding: 0px;
        .content-header{
            .navbar-brand{
                transition: all 0.5s ease-out;
                p{
                    font-weight: 700;
                    font-size: 1.5em;
                    margin-bottom: 0px;
                }
                span{
                    color: $green;
                }
                &:hover{
                    opacity: 60%;
                }
            }
            #navbarNav{
                ul{
                    li{
                        @include desktop-starts{
                            position: relative;
                            &::before{
                                content: "";
                                height: 2px;
                                width: 0%;
                                background: $green;
                                position: absolute;
                                bottom: -4px;
                                transition: all 0.5s ease-out;
                            }
                            &:hover::before{
                                width: 100%;
                            }
                        }
                        a{
                            color: $black;
                            padding: 0px auto;
                            @include desktop-starts{
                                transition: all 0.5s ease-out;
                                &:hover{
                                    letter-spacing: 1.5px;
                                    color: $green;
                                }
                            }
                        }            
                    }
                }
            }
        }
    }
}